* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{

    display: flex;
    flex-direction: column;
}

.button{
    background-color:  #2264dd;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:15px;
}